[submodule "src/widget/LRWidgets"]
	path = src/widget/LRWidgets
	url = https://gitee.com/EngineRender/LRWidgets.git
[submodule "src/widget/ADS"]
	path = src/widget/ADS
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
